/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

/* HEADER */
header {
    background-color: #bdf5d5; /* verde pastel */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
    margin-bottom: 15px;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px; /* separación equidistante entre los enlaces */
}

header li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header li a:hover {
    color: #007bff;
}

/* MAIN */
main {
    padding: 30px;
    text-align: center;
    background-color: #fffdf5; /* fondo suave para el contenido */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-style: italic;
    margin-bottom: 30px;
}

/* LISTA DE SALONES */
section ol {
    list-style: none;
    padding: 0;
}

section ol li {
    margin-bottom: 40px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

section ol li img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.footer-container {
    background-color: #ffbc9a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

.footer-section {
    width: 30%;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    flex-direction: column;
}

.footer-left {
    align-items: flex-start;
}

.footer-center {
    align-items: center;
}

.footer-right {
    align-items: flex-end;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section a {
    text-decoration: none;
    color: #0077cc;
    margin-top: 5px;
}

.footer-section img {
    width: 80px;
    margin-bottom: 5px;
}

.footer-icon {
    height: 80px;
    width: 80px;
    margin: 0 8px;
}

.footer-copy {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #000000;
    background-color: #ffbc9a;
    /* Fondo durazno */
}